body {
    font-family: helvetica, arial, sans-serif;
    color: rgba(0,0,0,0.8);
}

main {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}
